html, body {
  margin: 0;
  padding: 0;
  font-family: 'PSL1', sans-serif;
}
@font-face {
  font-family: PSL1;
  src: url('/assets/font/PSL244pro.otf');
}
@font-face {
  font-family: PSL2;
  src: url('/assets/font/PSL240pro.otf');
}
@font-face {
  font-family: PSL3;
  src: url('/assets/font/PSL242pro.otf');
}
.loading {
  font-family: PSL2;
  color: #03a9f4;
  font-size: 3em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  margin: auto;
  left: 0;
  right: 0;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.hide {
  opacity: 0;
}
a {
}
.nav-bar {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 15;
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  > img {
    margin-left: 24px;
  }
  .menu {
    display: flex;
    margin-right: 24px;
    >div {
      letter-spacing: 1px;
      font-family: PSL3;
      font-size: 24px;
      color: white;
      padding: 0 16px;
      a {
        text-decoration: none;
        color: white;
      }
      a.active {
        font-family: PSL1;
        color: black;
        text-decoration: none;
      }
    }
  }
}

#scene1 {
  pointer-events: none;
  outline: 1px dashed orange;
  background-color: #03a9f4;
  .coin-container {
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    > img#coin {}
  }
  .first-stage {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 6;
    padding-top: 100px;
    >p {
      margin-top: 0;
      font-family: PSL2;
      letter-spacing: 1px;
      color: white;
      font-size: 2em;
    }
  }
  .cloud-container {
    position: relative;
    height: 800px;
  }
  img.cloud-layer-1,
  #text1 {
    position: absolute;
    z-index: 999;
  }
  #text1 {
    font-size: 3em;
    color: blueviolet;
    text-shadow: 2px 2px #c273d0;
    text-align: center;
    transform: translateY(450px);
  }
  img.cloud-layer-2 {
    position: absolute;
    z-index: 4;
  }
  img#cloud1 {
    transform: translate(120px, 250px);
  }
  img#cloud2 {
    transform: translateX(-150px);
  }
  img#cloud3 {
    transform: translateY(200px);
  }
  img#cloud4 {
    transform: translateY(350px);
  }
  img#cloud5 {
    transform: translateY(650px);
  }
  img#cloud6 {
    transform: translate(-100px, 750px);
  }
  img#cloud7 {
    transform: translateY(1350px);
  }
  img#cloud8 {
    transform: translateY(1450px);
  }
}

#scene2 {
  .city-container {
    position: relative;
    height: 600px;
    background-color: #03a9f4;
    #cup {
      position: absolute;
      z-index: 20;
      bottom: -13px;
    }
    #city-scape {
      position: absolute;
      bottom: 0;
      z-index: 4;
    }
    #building {
      max-width: 1000px;
      position: absolute;
      z-index: 7;
      bottom: 0;
    }
  }
}
#scene3 {
  position: relative;
  #pipe {
    position: relative;
    z-index: 15;
  }
  #bank-flow {
    top: 0;
    position: absolute;
    z-index: 14;
  }
  #money-blur {
    top: 0;
    position: absolute;
    z-index: 17;
  }
  #coin-blur {
    top: 0;
    position: absolute;
    z-index: 16;
  }
  #text2-1 {
    padding-left: 50px;
    font-size: 4em;
    color: white;
    text-shadow: 3px 3px 0px black;
    text-align: center;
    z-index: 99;
    position: absolute;
  }
  #text2 {
    font-size: 4em;
    color: white;
    text-align: center;
    z-index: 99;
    text-shadow: 3px 3px 0px black;
    position: absolute;
    padding-right: 50px;
  }
  #text3 {
    font-size: 4em;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 0px black;
    z-index: 99;
    position: absolute;
    padding-left: 50px;
  }
}

#scene4 {
  position: relative;
  text-align: center;
  z-index: -1;
  top: -1px;
  height: 1800px;
  background-color: #161435;
  // background-color: #161333;
  overflow: hidden;
  #fall-cash {
    position: fixed;
  }
  #text4 {
    font-size: 4em;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 0px black;
    position: absolute;
    z-index: 55;
    top: 800px;
    text-align: center;
  }
  #text4-2 {
    font-size: 4em;
    color: white;
    text-align: center;
    text-shadow: 3px 3px 0px black;
    position: absolute;
    z-index: 55;
    top: 950px;
    text-align: center;
  }
}

#scene5 {
  pointer-events: none;
  position: relative;
  // text-align: center;
  top: -1px;
  height: 1800px;
  width: 100%;
  background-color: #161435;
  #hand {
    position: relative;
    transform: translateX(-235px);
    z-index: 999
  }
  #hero {
    position: relative;
    width: 600px;
    max-width: 100%;
    z-index: 99;
    margin: auto;
    right: -1000px;
  }
  #cage-container {
    top: 50%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    transform: translate(0, -40%) scale(.8);
    width: 100%;
    position: fixed;
    text-align: center;
    display: block;
    z-index: 999;
    #cage-top {
      position: absolute;
      top: -250px;
      margin: auto;
      z-index: 999;
    }
    #boy {
      position: relative;
    }
    #cage-stand {
      position: absolute;
      margin: auto;
      top: 350px;
      z-index: 999;
    }
  }
}

#scene6 {
  pointer-events: none;
  height: 700px;
  width: 100%;
  position: relative;
  top: -1px;
  background-color: #161435;
  .tv-container {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    #tv {
      top: 0;
      margin-left: 5%;
      margin-top: 5%;
      opacity: 0;
      width: 90%;
      height: 90%;
      // transform: scale(2.2);
      object-fit: scale-down;
    }
  }
}

#scene7 {
  pointer-events: none;
  position: relative;
  height: 700px;
  width: 100%;
  background-color: white;
  .black-container {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    #black {
      width: 100%;
      height: 100%;
      transform: scale(15);
      z-index: 3;
    }
    .lamp-container {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 4;
      #lamp {
        font-size: 3em;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0px;
        transform: scale(1);
      }
      #text6 {
        font-size: 3.5em;
        font-family: PSL2;
        position: absolute;
        display: flex;
        width: 100%;
        color: black;
        justify-content: space-around;
        margin: auto;
        top: 0;
        bottom: 0;
        opacity: 0;
        .t-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          margin-right: 30vw;
          font-size: 2em;
        }
        .t-right {
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 2em;
        }
      }
      #text7 {
        font-size: 2.5em;
        font-family: PSL2;
        position: absolute;
        display: flex;
        width: 100%;
        color: black;
        justify-content: space-around;
        margin: auto;
        top: 0;
        bottom: 0;
        opacity: 0;
        .t-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          margin-right: 30vw;
          font-size: 2em;
        }
        .t-right {
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 2em;
        }
      }
      #text8 {
        font-size: 2.5em;
        font-family: PSL2;
        position: absolute;
        display: flex;
        width: 100%;
        color: black;
        justify-content: space-around;
        margin: auto;
        top: 0;
        bottom: 0;
        opacity: 0;
        .t-left {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          margin-right: 30vw;
          font-size: 2em;
        }
        .t-right {
          flex: 1;
          display: flex;
          align-items: center;
          font-size: 2em;
        }
      }
    }
    #text5 {
      font-size: 4em;
      text-align: center;
      position: absolute;
      width: 100%;
      z-index: 5;
      color: white;
      bottom: 100px;
      opacity: 0;
    }
  }
}

#scene8 {
  position: relative;
  height: 2000px;
  width: 100%;
  background-color: white;
  .button-container {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 1400;
    .button-next {
      line-height: 50px;
      display: flex;
      align-items: center;
      background-color: #03A9F4;
      border-radius: 50px;
      padding: 0 24px;
      cursor: pointer;
      &:hover {
        background-color: #62CFFF;
      }
      > div {
        font-size: 24px;
        color: white;
        margin-right: 12px;
      }
      img {
        height: 20px;
      }
    }
  }
}